.header {
    height: var(--header-height);
    padding-top: 30px;
    display: flex; 
    align-items: center;
    justify-content: space-between;

    @include mobile {
        padding-top: 15px;
    }

    &__logo {
        @include tablet {
            max-width: 120px;
        }
        @include mobile {
            max-width: 100px;
        }
    }

    &__menu {

        @include fluid-text(18, 28);

        &-list {
            display: flex;
            align-items: center;
            column-gap: 30px;
            @include desktop {
                column-gap: 20px;
            }

            &--languages {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: center;
                column-gap: 15px;
            }
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 50px;

            @include hover {
                &::after {
                    width: 100%;
                    height: 3px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 3px;
                background-color: var(--color-green);
                transition-duration: inherit;
                
            }

            &.active-link::after {
                width: 100%;
                
            }
        }
        
    }

}

.telegram {
    @include reset-button;
    
    background-color: var(--color-green);
    padding: 15px;
    border-radius: var(--border-radius);
    color: var(--color-light);

    
}


