.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    
    

    @include tablet {
        margin-top: 100px;
    }
    @include mobile {
        margin-top: 80px;
    }

    &__body {
        color: inherit;
        max-width: 66%;
    }
    
    &__title {
        @include fluid-text(48, 120);
    }

    &__description p {
        @include fluid-text(18, 24);
    }

    &__languages{
        @include fluid-text(24, 48);

        &-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: auto;
            font-weight: 700;
        }

        &-link {
            
            @include hover {
              color: var(--color-green);  
            }
        }
    }

}

.lang {
//   color: var(--color-green);
    background-image: linear-gradient(to right, var(--color-light), var(--color-green), var(--color-dark-green));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    display: inline-block;
    min-width: fit-content;
    white-space: nowrap;

}